.section {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #f79a9a;
}

.item_container {
  display: flex;
  flex-direction: column;
}

.second_section_inner {
  display: flex;
  justify-content: space-around;
  padding-left: 100px;
  width: auto;
}

.second_section__title {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.second_section__paragraph {
  display: flex;
  width: 100%;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.position {
  color: rgba(0, 0, 0, 0.85);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.second_section_img {
  width: 400px;
  height: 400px;
  padding-top: 25px;
}

.item_page_button {
  width: 132px;
  height: 44px;
  font-size: 15px;
  color: #fb8f1d;
  border-radius: 8px;
  border: 1px solid #fb8f1d;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.item_page_button:hover {
  color: #fff;
  background-color: #fb8f1d;
  transform: scale(1.05);
  border: 1px solid #fb8f1d;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons button {
  padding-left: 10px;
}

.view_lyrics {
  display: flex;
  justify-content: center;
}

.lyrics_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom_panel {
  background-color: #f79a9a;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
