.footer {
  height: 195px;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  justify-content: space-around;
}

.footer_top {
  width: 1220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_top .logo {
  width: 44px;
  height: 44px;
}

.container hr {
  height: 0.6px;
  background-color: #c4c4c4;
}

.social_media {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 34px;
}
