.song_item {
  width: 260px;
  height: 310px;
  border-color: black;
  border: 1px solid;
  margin-right: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.song_item h3,
.song_item h4,
.song_item p,
.song_item div {
  margin: 12px 0;
}

.song_item img {
  max-width: 100px;
  max-height: 100px;
}

.song_item button {
  width: auto;
  height: auto;
}

.view_more {
  width: 90px;
  height: 20px;
  font-size: 13px;
  color: #fb8f1d;
  border-radius: 8px;
  border: 1px solid #fb8f1d;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.view_more:hover {
  color: #fff;
  background-color: #fb8f1d;
  transform: scale(1.05);
  border: 1px solid #fb8f1d;
}
