body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  font-family: Inter;
}

a {
  text-decoration: none;
}

li {
  display: block;
  margin-right: 16px;
}

h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  color: #000000;
}

ul {
  display: flex;
  padding-left: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

button.pulse {
  animation: pulse 3s infinite ease-in-out;
}

.zoom-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.zoom-image:hover {
  transform: scale(1.1);
}
